@keyframes Hidden {
  0% {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@keyframes Visible {
  0% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
